#!/usr/bin/env bash

case "$1" in

  "")
    if [ -n "${S3_BACKUP_CONFIG}" ]; then
      config_file=$(mktemp "${TMPDIR:-/tmp/}$(basename $0).XXXXXXXXXXXX")
      echo "$S3_BACKUP_CONFIG" | base64 -d > $config_file
      ansible-playbook -i /etc/ansible/hosts -i /ansible/inventories/backup.yml -e "@${config_file}" /ansible/backup.yml
    elif [ -f "${S3_BACKUP_CONFIG_FILE}" ]; then
      ansible-playbook -i /etc/ansible/hosts -i /ansible/inventories/backup.yml -e "@${S3_BACKUP_CONFIG_FILE}" /ansible/backup.yml
    elif [ -f "/config/s3-backup/s3-backup.yml" ]; then
      ansible-playbook -i /etc/ansible/hosts -i /ansible/inventories/backup.yml  -e "@/config/s3-backup/s3-backup.yml" /ansible/backup.yml
    else
      ansible-playbook -i /etc/ansible/hosts -i /ansible/inventories/backup.yml /ansible/backup.yml
    fi
    ;;

  *)
    echo $"Usage: $0"
    exit 1
    ;;

esac
